li{
display: flex;
justify-content: right;
align-items: center;
}
.bt{
font-size: 20px;
text-align: left;
text-decoration: none;
color: white;
}
body {
   margin: 0;
   padding: 0;
   height: 100vh;
   display: flex;
   background-image: url('filmes.jpg');
   background-size: 100% auto;


 }

 a{
   text-decoration: none;
   color: white;
 };


       .Canto {
           text-decoration: none;
           color: white;
           margin: 0;
           color: white;
           width: 300px;
           text-align: center;
           height: 50px;
       }


       .Sem {
           text-decoration: none;
       }

       form {
           width: 1000px;
           padding: 30px;
           border: 1px solid #2746f3;
           border-radius: 40px;
           box-shadow: 0 0 20px rgba(23, 4, 133, 0.329);
           margin-right: 60%;
           height: 30%;
           right: 500px;

         }
         label {
           display: block;
           margin-bottom: 25px;
           color: white;
         }
         input {
           width: 100%;
           padding: 8px;
           margin-bottom: 12px;
           box-sizing: border-box;
         }
         div {
       position: absolute;
       top: 30px;
       left: 20px;
       background-color: #2b66d3;
       padding: 10px;
       border-radius: 10px;
       box-shadow: 0 0 10px rgb(255, 255, 255);
     }
         .h11{
       margin: 0;
       color: white;
       width: 300px;
       text-align: center;
       height: 50px;
       margin-left: 10%;
     }
         button {
           background-color: #2b66d3;
           color: white;
           padding: 10px 20px;
           border: none;
           border-radius: 4px;
           cursor: pointer;
           margin-left: 20%;
           margin-top: 0%;
          text-decoration: none;
         }

         button:hover {
           background-color: #5b95d6;
         }
         .body2 {
           margin: 0;
           padding: 0;
           height: 100vh;
           display: flex;
           justify-content: center;
           align-items: center;
           background: linear-gradient(to right, black, darkblue);
       }
       .video-container {
           flex: 1;
           display: flex;
           justify-content: center;
           align-items: center;
       }
       video {
           max-width: 100%;
           height: auto;
       }
       .content {
           text-align: center;
           color: white;
       }

       .centro{

  

       }