
<!DOCth:field html>
<html lang="en" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filmes ON</title>
</head>
<body>

</head>

<h1><a href="/" class="Canto"> Filmes ON </a></h1>
 <li>
    <form th:object="${pessoa}" th:action="@{/add_pessoa}" method="post">
        <h1 class="h11">Cadastro</h1>

        <label for="nome">Nome:</label>
        <input th:field="*{nome}" id="nome" name="nome" required>

        <label for="email">Email:</label>
        <input th:field="*{email}" id="email" name="email" required>

        <label for="senha">Senha:</label>
        <input th:field="*{senha}" id="senha" name="senha" required>


        <input class="button" type="submit" value="Cadastrar">

    </form>
</li>


</body>
</html>