<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="indexstyle.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Filmes ON</title>
</head>
<body>
</head>

<h1><a href="/" class="Canto"> Filmes ON </a></h1>

<li>
    <form>

        <h1 class="h11">Login</h1>

        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="email">Senha:</label>
        <input type="password" id="senha" name="senha" required>

        <button type="submit"><a href="/">Entrar</a></button>
        <button type="button"><a href="cad_pessoa">Cadastro</a></button>
    </form>


</li>
</body>
</html>